<%= form_with(model: follow) do |form| %>

  <div class="flex justify-between form-group">

    <% if form.object.persisted? %>
      <%= form.button class: "btn btn-danger outline" do %>
        Unfollow
      <% end %>
    <% else %>
      <%= form.button class: "btn btn-primary" do %>
        Follow
      <% end %>
    <% end %>
  </div>
<% end %>
